.nav{
    border-top: 1px solid grey;
    padding: 10px;
    box-shadow: 10px 4px 12px rgb(7, 7, 7);
    display: flex;
    
   
    .logo{
        display: flex;
        gap: 15px;
        width: 30%;
        img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
       
        }

        .hello{
            margin-top: 5px;

            h4{
                color: rgb(51, 47, 47);
                font-size: 14px;

            }

            span{
                color: black;
                font-weight: bold;
            }

            p{
                color: rgb(51, 47, 47);
                font-size: 15px;
            }
        }
    }


     
    ul{
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 10px;
        
    
    }

    li{
        text-decoration: none;
        list-style: none;
       display: flex;
       flex-direction: column;


       
       span{
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        font-size: 18px;
       }

       span.active{
        color: red;
       }

       .icon{
        text-align: center;
        align-self: center;
        display: none;
       }
    }
    li:hover{
        color: #9c690a;
    }

    .not{
        margin-left: 2%;
        margin-top: 5px;
        border: 1px solid grey;
        padding: 10px 10px 0px 10px;
        border-radius: 50px;
    }

    .cart{
        margin-left:35%;
        margin-top: 5px;
        border: 1px solid grey;
        padding: 10px 10px 0px 10px;
        border-radius: 50px;
    }

    
}

.smallnav{
    display: none;
}
@media(max-width:600px){
    .smallnav{
        display: block;
        border-top: 1px solid grey;
    padding: 10px;
     position: fixed;
     z-index: 1000;
    bottom: 0%;
    left: 0; 
    width: 100%; 
    background-color: white;
    
    box-shadow: 10px 4px 12px rgb(7, 7, 7);

    ul{
        display: flex;
        justify-content: center;
        gap: 50px;
        margin-top: 10px;
        
    
    }

    li{
        text-decoration: none;
        list-style: none;
       display: flex;
       flex-direction: column;

       
       span{
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        font-size: 15px;
       }

       span.active{
        color: red;
       }

       .iconb{
        text-align: center;
        align-self: center;
        
       }
    }
    li:hover{
        color: #9c690a;
    }


    }

    .nav{
        display: none;
    }
}